In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import acquire

In [2]:
#file = "/Users/Ray/codeup-data-science/military-firepower/global_firepower_2022.csv"
#df = pd.read_csv(file)

In [3]:
#df.head()

In [4]:
#def acquire_military():
    #file = "/Users/Ray/codeup-data-science/military-firepower/global_firepower_2022.csv"
    #df = pd.read_csv(file)
    #return df

In [5]:

df = acquire.acquire_military()

In [6]:
df.head()

,country,country_code,Active Personnel,Aircraft Carriers,Armored Vehicles,Attack Helicopters,Available Manpower,Coastline Coverage,Corvettes,Dedicated Attack,...,Square Land Area,Submarines,Tanker Fleet,Tanks,Total Aircraft Strength,Total Population,Towed Artillery,Trainers,Transports,Waterways (usable)
0,Afghanistan,AFG,0,0,530,0,14611901,0,0,0,...,652230,0,0,0,0,37466414,60,0,0,1200
1,Albania,ALB,8000,0,76,0,1513309,362,0,0,...,28748,0,0,0,19,3088385,0,0,0,41
2,Algeria,ALG,130000,0,6461,45,20916812,998,6,22,...,2381741,6,5,2196,552,43576691,450,87,58,0
3,Angola,ANG,107000,0,1210,15,6728529,1600,0,18,...,1246700,0,0,320,299,33642646,585,61,30,1300
4,Argentina,ARG,83000,0,800,0,20180574,4989,9,6,...,2780400,2,2,349,218,45864941,172,70,22,11000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 48 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   country                    140 non-null    object
 1   country_code               140 non-null    object
 2   Active Personnel           140 non-null    int64
 3   Aircraft Carriers          140 non-null    int64
 4   Armored Vehicles           140 non-null    int64
 5   Attack Helicopters         140 non-null    int64
 6   Available Manpower         140 non-null    int64
 7   Coastline Coverage         140 non-null    int64
 8   Corvettes                  140 non-null    int64
 9   Dedicated Attack           140 non-null    int64
 10  Defense Budget             140 non-null    int64
 11  Destroyers                 140 non-null    int64
 12  External Debt              140 non-null    int64
 13  Fighters/Interceptors      140 non-null    int64
 14  Fit-for-Service            140 non-null    int64
 15  Foreign Exchange/Gold      140 non-null    int64
 16  Frigates                   140 non-null    int64
 17  Helicopter Carriers        140 non-null    int64
 18  Helicopters                140 non-null    int64
 19  Labor Force                140 non-null    int64
 20  Merchant Marine Fleet      140 non-null    int64
 21  Mine Warfare               140 non-null    int64
 22  Navy Ships                 140 non-null    int64
 23  Oil Consumption            140 non-null    int64
 24  Oil Production             140 non-null    int64
 25  Oil Proven Reserves        140 non-null    int64
 26  Paramilitary               140 non-null    int64
 27  Patrol Vessels             140 non-null    int64
 28  Ports / Trade Terminals    140 non-null    int64
 29  Purchasing Power Parity    140 non-null    int64
 30  Railway Coverage           140 non-null    int64
 31  Reaching Mil Age Annually  140 non-null    int64
 32  Reserve Personnel          140 non-null    int64
 33  Roadway Coverage           140 non-null    int64
 34  Rocket Projectors          140 non-null    int64
 35  Self-Propelled Artillery   140 non-null    int64
 36  Shared Borders             140 non-null    int64
 37  Special-Mission            140 non-null    int64
 38  Square Land Area           140 non-null    int64
 39  Submarines                 140 non-null    int64
 40  Tanker Fleet               140 non-null    int64
 41  Tanks                      140 non-null    int64
 42  Total Aircraft Strength    140 non-null    int64
 43  Total Population           140 non-null    int64
 44  Towed Artillery            140 non-null    int64
 45  Trainers                   140 non-null    int64
 46  Transports                 140 non-null    int64
 47  Waterways (usable)         140 non-null    int64
dtypes: int64(46), object(2)
memory usage: 52.6+ KB