In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import acquire

In [2]:
#file = "/Users/Ray/codeup-data-science/military-firepower/global_firepower_2022.csv"
#df = pd.read_csv(file)

In [3]:
#df.head()

In [4]:
#def acquire_military():
    #file = "/Users/Ray/codeup-data-science/military-firepower/global_firepower_2022.csv"
    #df = pd.read_csv(file)
    #return df

In [5]:

df = acquire.acquire_military()

In [6]:
df.head()

,country,country_code,Active Personnel,Aircraft Carriers,Armored Vehicles,Attack Helicopters,Available Manpower,Coastline Coverage,Corvettes,Dedicated Attack,...,Square Land Area,Submarines,Tanker Fleet,Tanks,Total Aircraft Strength,Total Population,Towed Artillery,Trainers,Transports,Waterways (usable)
0,Afghanistan,AFG,0,0,530,0,14611901,0,0,0,...,652230,0,0,0,0,37466414,60,0,0,1200
1,Albania,ALB,8000,0,76,0,1513309,362,0,0,...,28748,0,0,0,19,3088385,0,0,0,41
2,Algeria,ALG,130000,0,6461,45,20916812,998,6,22,...,2381741,6,5,2196,552,43576691,450,87,58,0
3,Angola,ANG,107000,0,1210,15,6728529,1600,0,18,...,1246700,0,0,320,299,33642646,585,61,30,1300
4,Argentina,ARG,83000,0,800,0,20180574,4989,9,6,...,2780400,2,2,349,218,45864941,172,70,22,11000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 48 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   country                    140 non-null    object
 1   country_code               140 non-null    object
 2   Active Personnel           140 non-null    int64
 3   Aircraft Carriers          140 non-null    int64
 4   Armored Vehicles           140 non-null    int64
 5   Attack Helicopters         140 non-null    int64
 6   Available Manpower         140 non-null    int64
 7   Coastline Coverage         140 non-null    int64
 8   Corvettes                  140 non-null    int64
 9   Dedicated Attack           140 non-null    int64
 10  Defense Budget             140 non-null    int64
 11  Destroyers                 140 non-null    int64
 12  External Debt              140 non-null    int64
 13  Fighters/Interceptors      140 non-null    int64
 14  Fit-for-Service            140 non-null    int64
 15  Foreign Exchange/Gold      140 non-null    int64
 16  Frigates                   140 non-null    int64
 17  Helicopter Carriers        140 non-null    int64
 18  Helicopters                140 non-null    int64
 19  Labor Force                140 non-null    int64
 20  Merchant Marine Fleet      140 non-null    int64
 21  Mine Warfare               140 non-null    int64
 22  Navy Ships                 140 non-null    int64
 23  Oil Consumption            140 non-null    int64
 24  Oil Production             140 non-null    int64
 25  Oil Proven Reserves        140 non-null    int64
 26  Paramilitary               140 non-null    int64
 27  Patrol Vessels             140 non-null    int64
 28  Ports / Trade Terminals    140 non-null    int64
 29  Purchasing Power Parity    140 non-null    int64
 30  Railway Coverage           140 non-null    int64
 31  Reaching Mil Age Annually  140 non-null    int64
 32  Reserve Personnel          140 non-null    int64
 33  Roadway Coverage           140 non-null    int64
 34  Rocket Projectors          140 non-null    int64
 35  Self-Propelled Artillery   140 non-null    int64
 36  Shared Borders             140 non-null    int64
 37  Special-Mission            140 non-null    int64
 38  Square Land Area           140 non-null    int64
 39  Submarines                 140 non-null    int64
 40  Tanker Fleet               140 non-null    int64
 41  Tanks                      140 non-null    int64
 42  Total Aircraft Strength    140 non-null    int64
 43  Total Population           140 non-null    int64
 44  Towed Artillery            140 non-null    int64
 45  Trainers                   140 non-null    int64
 46  Transports                 140 non-null    int64
 47  Waterways (usable)         140 non-null    int64
dtypes: int64(46), object(2)
memory usage: 52.6+ KB

In [8]:
df.isna().sum()

country                      0
country_code                 0
Active Personnel             0
Aircraft Carriers            0
Armored Vehicles             0
Attack Helicopters           0
Available Manpower           0
Coastline Coverage           0
Corvettes                    0
Dedicated Attack             0
Defense Budget               0
Destroyers                   0
External Debt                0
Fighters/Interceptors        0
Fit-for-Service              0
Foreign Exchange/Gold        0
Frigates                     0
Helicopter Carriers          0
Helicopters                  0
Labor Force                  0
Merchant Marine Fleet        0
Mine Warfare                 0
Navy Ships                   0
Oil Consumption              0
Oil Production               0
Oil Proven Reserves          0
Paramilitary                 0
Patrol Vessels               0
Ports / Trade Terminals      0
Purchasing Power Parity      0
Railway Coverage             0
Reaching Mil Age Annually    0
Reserve Personnel            0
Roadway Coverage             0
Rocket Projectors            0
Self-Propelled Artillery     0
Shared Borders               0
Special-Mission              0
Square Land Area             0
Submarines                   0
Tanker Fleet                 0
Tanks                        0
Total Aircraft Strength      0
Total Population             0
Towed Artillery              0
Trainers                     0
Transports                   0
Waterways (usable)           0
dtype: int64

In [11]:
df.describe()

,Active Personnel,Aircraft Carriers,Armored Vehicles,Attack Helicopters,Available Manpower,Coastline Coverage,Corvettes,Dedicated Attack,Defense Budget,Destroyers,...,Square Land Area,Submarines,Tanker Fleet,Tanks,Total Aircraft Strength,Total Population,Towed Artillery,Trainers,Transports,Waterways (usable)
count,1.400000e+02,140.000000,140.000000,140.000000,1.400000e+02,140.000000,140.000000,140.000000,1.400000e+02,140.000000,...,1.400000e+02,140.000000,140.000000,140.000000,140.000000,1.400000e+02,140.000000,140.000000,140.000000,140.000000
mean,1.378579e+05,14.592857,2770.428571,25.178571,2.578443e+07,4820.778571,2.985714,25.950000,1.447492e+10,1.707143,...,9.419542e+05,3.657143,5.785714,663.264286,378.757143,5.435363e+07,381.692857,81.807143,30.492857,4641.071429
std,2.790035e+05,170.880239,5907.143029,93.304658,8.478686e+07,18474.920517,10.005024,97.011408,6.968119e+10,9.174171,...,2.212054e+06,11.368119,53.002075,1541.585928,1222.932158,1.677120e+08,872.426203,241.470611,96.240294,14065.557303
min,0.000000e+00,0.000000,20.000000,0.000000,1.450000e+02,0.000000,0.000000,0.000000,1.180000e+07,0.000000,...,6.970000e+02,0.000000,0.000000,0.000000,0.000000,6.074140e+05,0.000000,0.000000,0.000000,0.000000
25%,1.475000e+04,0.000000,246.750000,0.000000,2.546108e+06,44.500000,0.000000,0.000000,3.611000e+08,0.000000,...,8.380325e+04,0.000000,0.000000,18.000000,30.750000,5.585554e+06,15.000000,4.000000,2.750000,0.000000
50%,4.000000e+04,0.000000,712.500000,2.000000,6.100049e+06,793.000000,0.000000,0.000000,1.765000e+09,0.000000,...,3.006700e+05,0.000000,0.000000,145.500000,106.000000,1.596157e+07,86.500000,26.000000,8.500000,800.000000
75%,1.312500e+05,0.000000,2625.250000,18.500000,1.768414e+07,2675.500000,2.000000,18.000000,6.047400e+09,0.000000,...,7.866952e+05,2.000000,0.000000,407.000000,282.500000,4.063178e+07,326.500000,73.250000,22.000000,2825.000000
max,2.000000e+06,2022.000000,45193.000000,910.000000,7.548648e+08,202080.000000,86.000000,783.000000,7.700000e+11,92.000000,...,1.709824e+07,79.000000,627.000000,12420.000000,13247.000000,1.397898e+09,7571.000000,2661.000000,982.000000,110000.000000

In [12]:
# Data is already very clean